<li>
	{{burger_name}}

    <button class="waiting" data-id="{{id}}" > DEVOURED! </button>

</li>    

<li>
	<p class="devoured" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}{{id}} {{burger_name}}
        {{/if}}
	</p>

</li>